body {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 26px;
  color: #d3efff;
  background-color: black;
}

.navbar-toggler {
  color: #d3efff;
}

.btn {
  background-color: transparent;
  border-color: white;
  color: black;
}

.btn:hover {
  background-color: #b9d346;
  border-color: #b9d346;
  transition: all 300ms ease-in-out;
}
.about-hero,
.hero {
  margin: 50px auto;
  padding: 25px 25px;
}

.construction-image {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
  display: inline;
  text-decoration: none;
  color: #d3efff;
}

.links:hover {
  color: #b9d346;
  transition: all 300ms ease-in-out;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  transition: transform 0.2s;
}

.main-image:hover {
  transform: scale(1.25);
}

.project-images {
  display: block;
  margin: 30px auto;
  transition: transform 0.2s;
  max-width: 700px;
}

.project-images:hover {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  body {
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  .about-image {
    max-width: 500px;
  }

  .btn {
    font-size: 16px;
  }
  .construction-image {
    width: 200px;
  }

  h1 {
    font-size: 16px;
  }
  .main-image {
    max-width: 150px;
  }
  .project-images {
    max-width: 350px;
  }
}
