h1,
h2 {
  font-family: "Lora", serif;
  font-style: italic;
}

h1 {
  margin-top: 200px;
  margin-left: 100px;
}

.hero {
  background: #ede9de;
}

.headshot {
  width: 1000px;
  margin: 100px 50px;
}

.homepage-about {
  margin-left: 100px;
}

.primary-link {
  margin-left: 100px;
}

.app-icons {
  width: 400px;
}
