body {
  font-family: "Courier New", Courier, monospace;
}

.about-hero,
.hero {
  margin: 50px auto;
  padding: 25px 25px;
}

.hero p {
  text-align: center;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  color: blueviolet;
  transition: all 300ms ease-in-out;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  transition: transform 0.2s;
}

.main-image:hover {
  transform: scale(1.25);
}

.project-images {
  display: block;
  margin: 30px auto;
  transition: transform 0.2s;
  max-width: 700px;
}

.project-images:hover {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .about-image {
    max-width: 250px;
  }
  .main-image {
    max-width: 250px;
  }
  .project-images {
    max-width: 350px;
  }
}
